.logo {
  width: 100px;
  height: 100px; /* Ajusta el tamaño del logo según tus necesidades */
  float: left;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* Estilos adicionales para el contenedor de la barra de navegación (opcional) */
.navbar {
  display: flex;
  align-items: center; /* Alinea la imagen verticalmente en el contenedor */
}
.navbar-container {
  display: flex;
  justify-content: center; /* Alinea el contenido horizontalmente */
  align-items: center; /* Alinea el contenido verticalmente */
  height: 80px; /* Ajusta la altura del contenedor según tus necesidades */
  background-color: #f0f0f0; /* Puedes ajustar el color de fondo */
}

/* Estilos adicionales para la barra de navegación (opcional) */

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  .logo {
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
  }

  .navbar {
    padding: 3px;
    /* Agrega espacio alrededor del logo para dispositivos móviles */
  }

  .navbar-container {
    position: fixed; /* Fija la posición del contenedor */
    top: 0; /* Ajusta la distancia desde la parte superior de la página */
    left: 0; /* Ajusta la distancia desde el lado izquierdo de la página (opcional) */
    width: 100%; /* Ajusta el ancho del contenedor */
    background-color: rgb(202, 192, 182);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Agrega sombra al contenedor */
  }
}

/* Estilos para pantallas medianas (como tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  .logo {
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
  }

  .navbar {
    padding: 10px; /* Aumenta el espacio alrededor del logo para tablets */
  }

  .navbar-container {
    padding: 10px; /* Mantén los estilos anteriores para pantallas medianas */
  }
}

  